.Display {
  display: flex;

  margin-left: 4rem;
}

.slider-background {
  background-color: black;
  width: 3rem;
  height: 1.6rem;
  margin-top: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
}

.slider-on {
  background-color: midnightblue;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.2rem 0.2rem 0.2rem 0;
  float: right;
}

.slider-off {
  background-color: midnightblue;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.2rem 0rem 0.2rem 0.2rem;
  float: left;
}

.power-label {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.863);
}

.chord-name {
  background-color: rgba(128, 128, 128, 0.233);
  padding: 1rem 4.5rem;
  margin: 0 auto 2rem auto;
  width: fit-content;
  color: rgba(255, 255, 255, 0.863);
}

.volume-slider {
  opacity: 0.7;
  width: 20rem;
}
.volume-slider:hover {
  opacity: 1;
}
