.Drumpad {
  display: flex;
  width: 15rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.d-btn {
  width: 4.5rem;
  height: 4.5rem;
  margin-top: 0.5rem;
  font-weight: 800;
  border-radius: 0.4rem;
}

.d-btn:active {
  background-color: steelblue;
}
