@font-face {
  font-family: "DiscoFont";
  src: url("../assets/DISKOTEQUE.TTF");
}

.Drumpad {
  display: flex;
  width: 15rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.d-btn {
  width: 4.5rem;
  height: 4.5rem;
  margin-top: 0.5rem;
  font-size: 2.5rem;

  font-family: "DiscoFont";
  color: rgb(57, 25, 95);
  font-weight: 600;
  border-radius: 0.4rem;
  transition: background-color 0.1s;
}

.d-btn:active {
  background-color: steelblue;
}
.buttonPressed {
  background-color: steelblue;
}

@media (max-width: 689px) {
  .Drumpad {
    margin: 0 auto;
  }
}
